{% extends 'base.html' %}

{% block title %}Maktab CRM - O'qituvchi ma'lumotlari{% endblock %}

{% block content %}
    <h1>O'qituvchi ma'lumotlari</h1>
        <div class="teacher-details">
            <div class="teacher-info">
                <!-- Static Teacher Image -->
                <img src="{{ teacher.photo.url }}" alt="O'qituvchi rasmi" class="teacher-image">
                <h2>{{ teacher.first_name }}{{ teacher.last_name }}</h2>
                <p>ID: <span>{{ teacher.pk }}</span></p>
                <p>Fan: <span>{{ teacher.subject }}</span></p>
                <p>Telefon: <span>{{ teacher.phone }}</span></p>
                <p>Email: <span>{{ teacher.email }}</span></p>
                <p>Ish tajribasi: <span>{{ teacher.experience }}</span></p>
            </div>
        </div>
        <div class="actions">
            <a href="{{ teacher.get_update_url }}" class="btn"><i class="fas fa-edit"></i> Tahrirlash</a>
            <a href="{{ teacher.get_delete_url }}" class="btn btn-danger"><i class="fas fa-trash"></i> O'chirish</a>
        </div>
{% endblock %}
