{% extends 'base.html' %}

{% block title %}Maktab CRM - O'quvchi ma'lumotlari{% endblock %}

{% block content %}
    <h1>O'quvchi ma'lumotlari</h1>
        <div class="student-details">
            <div class="student-info">
                <!-- Static content for a student's details -->
                <img src="{{ student.photo.url }}" alt="O'quvchi rasmi" id="photo" class="student-image">
                <h2 id="full_name">{{ student.full_name}}</h2>
                <p>ID: <span id="studentId">{{ student.pk }}</span></p>
                <p>Guruh: <span id="studentGroup">{{ student.group.group_name }}</span></p>
                <p>Tug'ilgan sana: <span id="studentBirthDate">{{ student.dob }}</span></p>
                <p>Telefon: <span id="studentPhone">{{ student.phone }}</span></p>
                <p>Manzil: <span id="studentAddress">{{ student.address }}</span></p>
            </div>
        </div>
        <div class="actions">
            <a href="{{ student.get_update_url }}" class="btn"><i class="fas fa-edit"></i> Tahrirlash</a>
            <a href="{{ student.get_delete_url }}" id="deleteStudent" class="btn btn-danger"><i class="fas fa-trash"></i> O'chirish</a>
        </div>

{% endblock %}

